<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/adminLayout :: layout (~{::body},'adminPanel')}">
<body>
<h1 th:text="'Users'"></h1>
<table id="users" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Serial</th>
            <th>Name</th>
            <th>View</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user, i : ${users}">
            <td th:text="${i.count}">
            </td>
            <td th:text="${user.getFirstName() + ' ' + user.getLastName()}">
            </td>
            <td>
                <a th:href="@{/user/view/__${user.getUserId()}__}">View</a>
            </td>
            <td>
                <a th:href="@{/user/edit/__${user.getUserId()}__}">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>

