<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layoutBeforeLogin :: layout (~{::body},'home')}">

<body>
	<!-- content_area_strat -->
    <div class="front_content_area" id="content_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80">
                        <span>Content</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6" th:each="frontContent, i : ${frontContents}">
                    <div class="single_content d-flex align-items-center">
                        <div class="thumb">
                            <img th:src="@{/MagazineFiles/contentImage/__${frontContent.getContentId()}__/banner.jpg}" alt="Content image" />
                        </div>
                        <div class="info">
                            <h3><a th:text="${frontContent.getHeadline()}" th:href="@{/contents/__${frontContent.getContentId()}__}">Content Headline</a></h3>
                            <p th:text="${frontContent.getTeaser()}">Content Teaser</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="iteam_links">
                        <a class="boxed-btn5" th:href="@{/contents}">More Contents</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content_area_end -->
    
    
    <!-- event_area_strat -->
    <div class="event_area" id="event_area">
        <div class="event_here">
            <div class="single_event" th:each="frontEvent, i : ${frontEvents}">
                <div class="room_thumb">
                    <img th:src="@{/MagazineFiles/eventImage/__${frontEvent.getEventId()}__.jpg}" alt="Event image" />
                    <div class="room_heading d-flex justify-content-between align-items-center">
                        <div class="room_heading_inner">
                        	<span th:text="${frontEvent.getDatetime()}">Event date</span>
                        	<h3 th:text="${frontEvent.getName()}">Event name</h3>
                            <p th:text="${frontEvent.getPlace()}">Event place</p>
                            <a th:href="@{/events}" class="boxed-btn3">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- event_area_end -->

    <!-- message_area_start  -->
    <div class="message_area ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-60 text-center">
                        <span>Messages</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel" th:each="activeFrontMessage, i : ${activeFrontMessages}">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_message text-center">
                                        <p th:text="${activeFrontMessage.getMessageBody()}">Message text</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- message_area_end  -->
    
    
    <!-- about_area_start -->
    <div class="about_area" id="about_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="about_thumb2">
                        <div class="img_1">
                            <img th:src="@{/resources/images/about_us.jpg}" alt="About us">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 offset-lg-1 col-md-6">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>About Us</span>
                            <h3>Tag line goes here</h3>
                        </div>
                        <p>Provide about section here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->

    <!-- contact_area_start -->
    <section class="contact-section" id="contact_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="contact-title">Get in Touch</h2>
                </div>
                <div class="col-lg-8">
                    <form th:action="@{/contactTicket}" th:object="${contactTicket}" id="contactForm" class="form-contact contact_form was-validated" method="post">
                        <div class="row">
                            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                                <p>Please correct the following errors.</p>
                            </div>
                            <input type="hidden" th:field="*{contactTicketId}" id="contactTicketId" name="contactTicketId">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea th:field="*{description}" th:errorclass="has-error" class="form-control w-100" name="description" id="description" cols="30" rows="9" placeholder=" Enter Message"></textarea>
                                    <div th:if="${#fields.hasErrors('description')}" class="alert alert-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}" ></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input th:field="*{name}" th:errorclass="has-error" class="form-control valid" name="name" id="name" type="text" placeholder="Enter your name">
                                    <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('name')}" th:text="${err}" ></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input th:field="*{email}" th:errorclass="has-error" class="form-control valid" name="email" id="email" type="text" placeholder="Enter your email">
                                    <div th:if="${#fields.hasErrors('email')}" class="alert alert-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('email')}" th:text="${err}" ></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="button button-contactForm boxed-btn">Send</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>Bad Godesberg, Bonn</h3>
                            <p>Germany, 53717</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <h3>+1 253 565 2365</h3>
                            <p>Mon to Fri 9am to 6pm</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3>support@test.com</h3>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact_area_end -->
    
</body>

</html>